<div class="footerWrapper">
  <div class="footerMenuContainer">
    <button
      class="btnFooterMenuMobileVersion"
      id="btnSummaryFooterMenu"
      onclick="openSummary()"
    >
      <img
        id="imgSummaryFooterMenu"
        src="../assets/img/summary_button_clicked.png"
        alt="summary menu button"
      />
    </button>

    <button
      class="btnFooterMenuMobileVersion"
      id="btnBoardFooterMenu"
      onclick="openBoard()"
    >
      <img
        id="imgBoardFooterMenu"
        src="../assets/img/board_button_default.png"
        alt="board menu button"
      />
    </button>

    <button
      class="btnFooterMenuMobileVersion"
      id="btnAddFooterMenu"
      onclick="openAddTask()"
    >
      <img
        id="imgAddFooterMenu"
        src="../assets/img/add_button_default.png"
        alt="add task menu button"
      />
    </button>

    <button
      class="btnFooterMenuMobileVersion"
      id="btnContactsFooterMenu"
      onclick="openContacts()"
    >
      <img
        id="imgContactsFooterMenu"
        src="../assets/img/contacts_button_default.png"
        alt="contacts menu button"
      />
    </button>
  </div>
</div>