<div class="sidebarMenuContainer">
    <div class="btnFooterMenuDesktopVersion" id="btn_summary_FooterMenuDesktopVersion" onclick="openSummary()">
        <img src="../assets/img/desktop_footer/summary_icon_desktop.png" alt="summary icon desktop"/>
        <div class="btnFooterMenuDesktopVersionTextDiv">Summary</div>
    </div>     

    <div class="btnFooterMenuDesktopVersion" id="btn_add_FooterMenuDesktopVersion" onclick="openAddTask()">
        <img src="../assets/img/desktop_footer/add_icon_desktop.png" alt="add task icon desktop"/>
        <div class="btnFooterMenuDesktopVersionTextDiv">Add Task</div> 
    </div>

    <div class="btnFooterMenuDesktopVersion" id="btn_board_FooterMenuDesktopVersion" onclick="openBoard()">
        <img src="../assets/img/desktop_footer/board_icon_desktop.png" alt="board icon desktop"/>
        <div class="btnFooterMenuDesktopVersionTextDiv">Board</div>
    </div>

    <div class="btnFooterMenuDesktopVersion" id="btn_contacts_FooterMenuDesktopVersion" onclick="openContacts()">
        <img src="../assets/img/desktop_footer/contacts_icon_desktop.png" alt="contacts task icon desktop"/>
        <div class="btnFooterMenuDesktopVersionTextDiv">Contacts</div>
    </div>
</div>

<div class="privacyLegalContainer">
    <button id="btnPrivacy" class="footerPolicyAnchor" onclick="openPrivacy()">Privacy Policy</button>
    <button id="btnLegal" class="footerPolicyAnchor" onclick="openLegal()">Legal notice</button>
</div>
